#loading{position:fixed;width:100%;height:100%;background:#fff;top:0;left:0;z-index:99999;}
.loading-content{width: 60px;height: 45px;margin: -22px -30px 0 0;position: absolute;top: 50%;left: 50%;}
#loading span{display: inline-block;width: 8px;height: 45px;border-radius: 4px;background: lightgreen;-webkit-animation: load 1.04s ease infinite;-ms-animation: load 1.04s ease infinite;-moz-animation: load 1.04s ease infinite;-o-animation: load 1.04s ease infinite;animation: load 1.04s ease infinite;}
@-webkit-keyframes load{
0%,100%{height: 45px;background: lightgreen;}
50%{height: 65px;margin-top: -20px;background: #05920A;}
}
@keyframes load{
0%,100%{height: 45px;background: lightgreen;}
50%{height: 65px;margin-top: -20px;background: #05920A;}
}
#loading span:nth-child(2){-webkit-animation-delay:0.13s;-ms-animation-delay:0.13s;-moz-animation-delay:0.13s;-o-animation-delay:0.13s;animation-delay:0.13s;}
#loading span:nth-child(3){-webkit-animation-delay:0.26s;-ms-animation-delay:0.26s;-moz-animation-delay:0.26s;-o-animation-delay:0.26s;animation-delay:0.26s;}
#loading span:nth-child(4){-webkit-animation-delay:0.39s;-ms-animation-delay:0.39s;-moz-animation-delay:0.39s;-o-animation-delay:0.39s;animation-delay:0.39s;}
#loading span:nth-child(5){-webkit-animation-delay:0.52s;-ms-animation-delay:0.52s;-moz-animation-delay:0.52s;-o-animation-delay:0.52s;animation-delay:0.52s;}