body{background:url(../img/timg.jpg) center center no-repeat fixed;background-size: cover;}
/*页面菜单样式*/
.menuList {
	position: fixed;
	top: 0;
	width: 100%;
	margin: 0;
	padding: 0;
	background: rgba(255, 255, 255, 0.7);
	text-align: center;
	box-shadow: 0px 0px 5px #05920A;
	z-index:99;
}
.menuList li {
	list-style: none;
	display: inline-block;
	padding: 0px 10px;
}
.menuList li .link {
	line-height: 60px;
	text-decoration: none;
	border-bottom: 5px solid transparent;
	height: 55px;
	display: inline-block;
	color:#333;
}
.menuList li .active {
	color:#05920A;
	border-color:#05920A;
}
/*home page*/
.headerTop {
	height:400px;
	width:100%;
	overflow: hidden;
	background-attachment: scroll,fixed;
	background-image: url(../img/top-3200.svg), url(../img/timg.jpg);
	background-position: bottom center,center center;
	background-repeat: repeat-x,no-repeat;
	background-size: 3200px 460px,cover;
	color: rgba(255, 255, 255, 0.8);
	padding: 10em 0 20em 0;
	text-align: center;
	position: relative;
}
.box {
	position: absolute;
	top: 50%;
	left: 50%; 
    margin:-150px 0 0 -150px;
	-webkit-transform:scale(0);
	transform:scale(0);
	-webkit-transition:transform .6s;
	transition:transform .6s;
}
.active .box{
	-webkit-transform:scale(1);
	transform:scale(1);
}
.cude {
	width: 300px;
	height: 300px;
	position: relative;
	font-family: 'font';
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	transform: rotateX(-30deg) rotateY(-80deg);
	animation: rotate 20s infinite;
	-webkit-animation: rotate 20s infinite;
	animation-timing-function: linear;
	-webkit-animation-timing-function: linear;
	transform-origin: 50% 50% 0;
	-webkit-transform-origin: 50% 50% 0;
}
.surface {
    position: absolute;
	top: 0;
	left: 0;
	width: 300px;
	height: 300px;
	background: #05920A;
	opacity: 0.7;
	font-size: 60px;
	text-align: center;
	line-height: 300px;
	font-weight: bold;
	color: #fff;
	-webkit-transition: all .3s;
	transition: all .3s;
}

.surface img{width: 100%;}
.key0{transform: rotateY(0) translateZ(170px);}
.key1{transform: translateZ(-170px) rotateY(180deg);}
.key2{transform: rotateY(-90deg) translateZ(170px);}
.key3{transform: rotateY(90deg) translateZ(170px);}
.key4{transform: rotateX(90deg) translateZ(170px);}
.key5{transform: rotateX(90deg) translateZ(-170px);}
.cude:hover .key0{transform: rotateY(0) translateZ(250px);}
.cude:hover .key1{transform: translateZ(-250px) rotateY(180deg);}
.cude:hover .key2{transform: rotateY(-90deg) translateZ(250px);}
.cude:hover .key3{transform: rotateY(90deg) translateZ(250px);}
.cude:hover .key4{transform: rotateX(90deg) translateZ(250px);}
.cude:hover .key5{transform: rotateX(90deg) translateZ(-250px);}
@-webkit-keyframes rotate {
	from {
		transform: rotateX(0deg) rotateY(0deg);
	}
	to {
		transform: rotateX(360deg) rotateY(360deg);
	}
}
@keyframes rotate {
	from {
		transform: rotateX(0deg) rotateY(0deg);
	}
	to {
		transform: rotateX(360deg) rotateY(360deg);
	}
}
.surface-in {
	width: 170px;
	height: 170px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -85px;
	margin-left: -85px;
}
.surface-in img {
	width: 170px;
	height: 170px;
}

.index0{transform: rotateY(0deg) translateZ(85px);}
.index1{transform: rotateY(180deg) translateZ(85px);}
.index2{transform: rotateY(-90deg) translateZ(85px);}
.index3{transform: rotateY(90deg) translateZ(85px);}
.index4{transform: rotateX(90deg) translateZ(-85px);}
.index5{transform: rotateX(-90deg) translateZ(-85px);}
.main {width:1100px; text-align: center;margin:auto;background: rgba(255, 255, 255, 0.7);min-height: 445px;}
@media (max-width: 1100px){
	.main {width:100%;}
}
.menuList + div {padding-top: 60px;}
.menuList + div.home {padding-top: 0;background:#fff;}
.homeMain .swiper-container {padding-top:15px; height:445px;}
.homeMain .slideDetial {
	width:98%;
	min-height:400px;
	margin:0px auto;
	border-radius: 10px;
	padding: 15px;
	box-sizing: border-box;
	text-align:left;
}
.blockLink {
	display:block;
	color:#fff;
	text-decoration: none;
}
.subTitle {
	font-size:25px;
	margin:10px 0px;
	height:33px;
	overflow: hidden;
}
.blockLink .content {
	font-size:14px;
	line-height:20px;
	height: 240px;
	overflow: hidden;
}
.swiper-pagination-bullet {width: 12px;height: 12px;}
.swiper-pagination-bullet-active {background: #05920A;}
.homeMain .swiper-pagination .swiper-pagination-bullets {bottom: 0px;} 
/*works页面*/
.works {position: relative;}
.works h2, .works p, .works h3 {margin:0;padding:0;}
.siderList {
	position:fixed;
	height:100%;
	text-align:right;
	padding:15px;
	margin:0;
	width: 162px;
    box-sizing: border-box;
}
.siderList li {
	list-style: none;
	margin-bottom: 10px;
}
.secondLink{
	display: block;
	font-size:15px;
	color: #333;
	text-decoration: none;
	position: relative;
}
.secondLink span {display:block;}
.secondLink .title {font-weight: bold;}
.secondLink .font {font-size:12px;}
.secondLink .ico {
	position: absolute;
	width: 12px;
    height: 12px;
    border: 1px solid #05920A;
    top: 20px;
    right: -23px;
    border-radius: 50%;
    background: #fff;
}
.secondLink.active .ico {background: #05920A;}
.secondLink.active {color:#05920A;}
.mainContent {
	width: calc(100% - 162px);
	margin-left: 162px;
    padding: 15px;
	box-sizing: border-box;
	text-align: left;
	color: #191818;
	border-left: 1px solid #05920A;
	min-height:445px;
}
.contentBox {
	margin-bottom: 20px;
    border-bottom: 1px solid #05920A;
}
.contentBox:last-child {border-bottom: none;}
.contentBox h2 {
	font-size:16px;
	margin-bottom:10px;
}
.contentBox h3 {
	font-size:14px;
	margin-bottom:10px;	
}
.mainContent p {
	font-size:14px;
	margin-bottom:10px;
	line-height: 22px;
}
.contentBox .link {
	color:#05920A;
	text-decoration: none;
	font-size: 14px;
	display: block;
}
.activeList {margin-top: 15px;}
.account span{display: block;}
.reactTable {
	font-size: 14px;
    border-collapse: collapse;
	width: 100%;
	text-align: center;
}
.reactTable td {
	padding:5px;
	border: 1px solid #928f8f;
}
.reactTable tr:hover{
	background: rgba(221, 221, 221, 0.6);
}
thead td {font-weight: bold;}
/*404页面*/
.notFound { 
	border-radius: 0 0 20px 20px;
	box-shadow: 0 6px 15px 0px #05920A;
	position: relative;
}
.notFound .absolute {
	position: absolute;
    width: 100%;
    text-align: center;
    left: 0;
    top: 20%;
}

/*footer*/
#footer {
	background-attachment: scroll,fixed;
	background-image: url(../img/bottom-1600.svg),url(../img/timg.jpg);
	background-position: top center,center center;
	background-repeat: repeat-x,no-repeat;
	background-size: 3200px 460px,cover;
	color: rgba(255, 255, 255, 0.8);
	margin-top: -260px;
	padding: calc(460px + 6em) 0 10em 0;
	text-align: center;
}